<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="/include/head.html :: fragment-head"></div>
    <title>타이틀</title>
</head>
<body>
<div th:replace="/include/header.html :: fragment-header"></div>
<div class="container contenter">
    <h1>메인페이지</h1>

    <span>attrName: [[${attrName}]]</span>
    <h4>Human from Model</h4>
    <span th:text="${human.name}"/>
    <span th:text="${human.age}"/>
    <span th:if="${human.age<20}">미성년자</span>

    <table class="table">
        <tbody>
        <tr th:each="human : ${humanList}">
            <td th:text="${human.name}">default</td>
            <td th:text="${human.age>20?human.age:'미성년자'}"></td>
        </tr>
        </tbody>
    </table>

    <img th:src="@{/images/kkobugi_dance.gif}" alt="꼬부기 댄스">
</div>
</body>
</html>