<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="/include/head.html :: fragment-head"></div>
    <title>타이틀</title>
</head>
<body>
<div th:replace="/include/header.html :: fragment-header"></div>
<div class="container contenter">
    <h1>공지사항 목록</h1>

    <table class="table text-center" th:if="${not #lists.isEmpty(noticeList)}">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice, about : ${noticeList}">
            <td th:text="${about.index + 1}"></td>
            <td><a th:text="${notice.title}" th:href="@{/board/noticeGet(boardNo=${notice.boardNo})}" /></td>
            <td th:text="${notice.author}"></td>
            <td th:text="${#dates.format(notice.createAt, 'yyyy-MM-dd')}"></td>
            <td th:text="${notice.visited}"></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${#lists.isEmpty(noticeList)}" class="text-center">목록이 비어있습니다.</div>
    <a th:href="@{/board/noticeWrite}" class="btn btn-primary">추가</a>
</div>
</body>
</html>