<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="/include/head.html :: fragment-head"></div>
    <title>타이틀</title>
</head>
<body>
<div th:replace="/include/header.html :: fragment-header"></div>
<div class="container contenter">
    <h1>공지사항 상세보기</h1>

    <h2 th:text="${notice.title}"></h2>
    <div class="d-flex">
        <span th:text="${notice.author}"></span>
        <span th:text="${isUpdate} ? ${#dates.format(notice.updateAt, 'yyyy-MM-dd HH:mm')}+'(수정됨)' : ${#dates.format(notice.createAt, 'yyyy-MM-dd HH:mm')}"></span>
    </div>
    <hr>
    <div id="content" th:text="${notice.content}" style="min-height: 40vh;"></div>
    <hr>
    <a th:href="@{/board/noticeList}" class="btn btn-secondary">목록</a>
    <a th:href="@{/board/noticeEdit(boardNo=${notice.boardNo})}" class="btn btn-primary">수정</a>
    <a th:href="@{/board/noticeRemove(boardNo=${notice.boardNo})}" class="btn btn-danger">삭제</a>
</div>
</body>

<script>
    $(document).ready(function() {
        $("#content").html($("#content").text());
    });
</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var message = /*[[${isUpdate}]]*/ 'default';
    console.log(message);

    /*]]>*/
</script>

</html>

