<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/common.css">
    <title>타이틀</title>
</head>
<body>
<div class="container">
    <h1>공지사항 상세보기</h1>

    <h2 th:text="${notice.title}"></h2>
    <div class="d-flex">
        <span th:text="${notice.author}"></span>
        <span th:text="(isUpdate)?${#temporals.format(notice.createAt, 'yyyy-MM-dd')}:${#temporals.format(notice.UpdateAt, 'yyyy-MM-dd')}(수정됨)"></span>
    </div>
    <div th:text="${notice.content}"></div>
    <a th:href="@{/board/noticeList}" class="btn btn-secondary">목록</a>
    <a th:href="@{/board/noticeEdit(boardNo=${notice.boardNo})}" class="btn btn-primary">수정</a>
    <a th:href="@{/board/noticeRemove(boardNo=${notice.boardNo})}" class="btn btn-danger">삭제</a>
</div>
</body>
</html>