server:
  port: 8086
spring:
  profile:
    active: local
  thymeleaf:
    check-template-location: true
    prefix: classpath:/templates/
    suffix: .html
    cache: false
  # 템플릿 엔진: 타임리프, 프리마커, 그루비, mustache 등
  mvc:
    static-path-pattern: /static/**
    hidden-method:
      filter:
        enabled: true
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/tsellpa
    username: root
    password: 1234
  servlet:
    multipart:
      max-file-size: 10MB
#      location: file:///C:/shop/item
mybatis:
  configuration:
    map-underscore-to-camel-case: true
  type-aliases-package: com.chunjae.test07.entity
  mapper-locations: mappers/**/*.xml
logging:
  config: classpath:logback.xml

comm:
  uploadPath: classpath:/resources/upload/
#itemImgLocation = C:/shop/item
#uploadPath = file:///C:/shop/item