<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="/include/head.html :: fragment-head"></div>
    <title>타이틀</title>
</head>
<body>
<div th:replace="/include/header.html :: fragment-header"></div>
<div class="container contenter">
    <h1>관리자 페이지</h1>
    <ul>
        <li><a th:href="@{/student}">학생</a></li>
        <li><a th:href="@{/teacher}">선생님</a></li>
        <li><a th:href="@{/admin}">관리자</a></li>
    </ul>
</div>
</body>
</html>