<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="/include/head.html :: fragment-head"></div>
    <title>타이틀</title>
</head>
<body>
<div th:replace="/include/header.html :: fragment-header"></div>
<div class="container contenter">
    <h1>중고거래 목록</h1>
    <div th:replace="/include/searchList.html :: fragment-search('/used/usedList', 'title:제목,content:내용,author:작성자')"></div>

    <div class="card-list" th:each="used, about : ${usedList}">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" th:text="${used.usedProduct.title}" />
                <p class="card-text" th:text="${used.usedProduct.price}+'원'"/>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <th:block th:if="${not #lists.isEmpty(usedList)}"><div th:replace="/include/pagination.html :: fragment-pagination('/used/usedList')"></div></th:block>
    <div th:if="${#lists.isEmpty(usedList)}" class="text-center">목록이 비어있습니다.</div>
    <a th:href="@{/used/usedWrite}" class="btn btn-primary">추가</a>
</div>
</body>
</html>
