<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="/include/head.html :: fragment-head"></div>
    <title>타이틀</title>
    <style>
        .chat-box {
            margin: 0;
        }
        .chat-time {
            display: inline;
            margin-left: 10px;
            color: gray;
            font-size: 10px;
        }
        .close-tag {
            color: inherit;
        }
        .chat-message-me {
            border-radius: 15px; background-color: green; color: white; float: right; width: fit-content; max-width: 450px;
        }
        .chat-message-other{
            border-radius: 15px; background-color: rgba(57, 192, 237,.2); max-width: 450px;
        }
        .chat-message{
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
<div th:replace="/include/header.html :: fragment-header"></div>
<div class="container contenter">
    <h1>채팅하기</h1>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4>채팅방 목록</h4>
                <ul class="list-group" id="roomList" style="margin: 10px 0;" th:each="room : ${chatRooms}">
                    <li class="list-group-item"><a th:onclick="joinRoom(this.getAttribute('roomno'))" th:roomno="${room.roomNo}" th:text="${room.userId}"></a></li>
                </ul>
                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary" onclick="createRoom()">Create Chat Room</button>
                </div>
            </div>

            <div id="chatRoom" class="col-6" style="visibility: hidden;">
                <section>
                    <div class="container py-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col">

                                <div class="card" style="border-radius: 15px;">
                                    <div class="card-header d-flex justify-content-center align-items-center p-3 bg-info text-white border-bottom-0" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                                        <p class="mb-0 fw-bold" id="chatRoomName">Live chat</p>
                                        <input type="hidden" id="chat-roomNo">
                                    </div>

                                    <div class="card-body">
                                        <div id="msgArea" style="height: 500px; overflow-y: auto;">
                                        </div>

                                        <textarea class="form-control" id="chat-input" placeholder="Type Your message and Enter" aria-label="chat input" rows="3"></textarea>
                                        <div class="d-flex justify-content-end mt-2"><button class="btn btn-primary" id="chat-send">Send</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>
</body>


<script th:inline="javascript">
    let ws;
    let username = "kim1";
    if (username === "null") {
        username = "guest";
    }

    // 자동 스크롤 함수
    function scrollToBottom() {
        var chatDiv = document.getElementById("msgArea");
        chatDiv.scrollTop = chatDiv.scrollHeight;
    }

    let createRoom = function(){
        $.ajax({
            type: "POST",
            url: "/chat/createRoom",
            data: { userId: username, usedNo: 0 }, // 파라미터로 채팅방 이름 전달
            success: function (data) {
                let newRoom = `<li class="list-group-item"><a th:onclick="joinRoom(this.getAttribute('roomNo'))" th:roomNo="${room.roomNo}" th:text="${room.username}"></a></li>`;
                $("#roomList").append(newRoom);
                $("#roomName").val(""); // 입력 필드 초기화
            }
        });
    }

    function makeChat(chatNo, type, room, username, message){
        var currentTime = new Date();
        var options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
        var time = new Intl.DateTimeFormat('ko-KR', options).format(currentTime);

        let chat = {
            "chatNo": chatNo,
            "type": type,
            "roomNo": room,
            "sender": username,
            "message": message,
            "time": time
        };

        var jsonstr = JSON.stringify(chat)
        return jsonstr;
    }

    function send(jsonstr){
        ws.send(jsonstr);
    }

    let getRoom = function(roomNo){
        $.ajax({
            type: "POST",
            url: "/chat/getRoom",
            data: {roomNo: roomNo, userId: username},
            success: function (data) {
                data.forEach(function (msg) {
                    let newMsg = ``;

                    if (msg.type == "TALK") {
                        if (msg.sender === username) {
                            newMsg = `<div class="d-flex flex-row justify-content-end mb-4">
                                                    <div class="chat-box text-end">
                                                        <div class="chat-author m-0 p-1">${msg.sender}<p class="chat-time">${msg.time}</p></div>
                                                        <div class="p-3 chat-message-me">
                                                            <p class="chat-message small mb-0">${msg.message}</p>
                                                        </div>
                                                    </div>
                                                </div>`;
                        } else {
                            newMsg = `<div class="d-flex flex-row justify-content-start mb-4">
                                                    <div class="chat-box">
                                                        <div class="chat-author m-0 p-1">${msg.sender}<p class="chat-time">${msg.time}</p></div>
                                                        <div class="p-3 chat-message-other">
                                                            <p class="chat-message small mb-0">${msg.message}</p>
                                                        </div>
                                                    </div>
                                                </div>`;
                        }

                    } else {
                        newMsg = `<div class="d-flex flex-row justify-content-center mb-4"><div class="chat-box">${msg.message}</div></div>`
                    }

                    $("#msgArea").append(newMsg);
                });
            }
        });
    }

    let joinRoom = async function(roomNo) {
        await closeRoom();

        $("#chatRoom").css("visibility", "visible");
        getRoom(roomNo);

        $("#chat-roomNo").val(roomNo);


        ws = new WebSocket("ws://"+location.host+"/socket?roomNo="+roomNo+"&userId="+username);

        ws.onopen = function(e){ // 연결 시 실행
            /*var str = username + "님이 입장하셨습니다.";
            send(makeChat("ENTER", roomNo, username, str));*/
            // console.log("info : connection opened.");
        }

        ws.onmessage = function(response){ // 서버로부터 메세지를 받았을 때 실행
            $.ajax({
                type: "POST",
                url: "/chat/readChat",
                data: {message: response.data, user: username},
                success: function (data) {
                }
            });

            var msg = JSON.parse(response.data);

            if(msg.roomNo===roomNo){
                let newMsg = ``;

                if(msg.type=="TALK"){
                    if(msg.sender===username){
                        newMsg = `<div class="d-flex flex-row justify-content-end mb-4">
                                                        <div class="chat-box text-end">
                                                            <div class="chat-author m-0 p-1">${msg.sender}<p class="chat-time">${msg.time}</p></div>
                                                            <div class="p-3 chat-message-me">
                                                                <p class="chat-message small mb-0">${msg.message}</p>
                                                            </div>
                                                        </div>
                                                    </div>`;
                    } else{
                        newMsg = `<div class="d-flex flex-row justify-content-start mb-4">
                                                        <div class="chat-box">
                                                            <div class="chat-author m-0 p-1">${msg.sender}<p class="chat-time">${msg.time}</p></div>
                                                            <div class="p-3 chat-message-other">
                                                                <p class="chat-message small mb-0">${msg.message}</p>
                                                            </div>
                                                        </div>
                                                    </div>`;
                    }

                } else {
                    newMsg = `<div class="d-flex flex-row justify-content-center mb-4"><div class="chat-box">${msg.message}</div></div>`
                }

                $("#msgArea").append(newMsg);
                scrollToBottom();

            }
        }

        ws.onclose = function(e){ // 연결 종료 시 실행
            // console.log("info : connection closed");
        };

        ws.onerror = function(e){
            console.log("error")
        };


    }

    $("#chat-send").on("click", function() {
        let roomNo = $("#chat-roomNo").val();
        let sendmsg = $("#chat-input").val();

        if(sendmsg===""){
            return false;
        } else {
            var jsonstr = makeChat(0, "TALK", roomNo, username, sendmsg);
            $.ajax({
                type: "POST",
                url: "/chat/insertChat",
                data: {message: jsonstr},
                success: function (response) {
                    send(makeChat(response.chatNo, "TALK", roomNo, username, sendmsg));
                }
            });
        }

        // 텍스트 입력란을 지울 수도 있습니다.
        $("#chat-input").val("");
    });


    let closeRoom = async function(){
        $("#chatRoom").css("visibility", "hidden");
        $("#msgArea").html("");
        let roomNo = $("#chat-roomNo").val();

        if(ws !== undefined) {
            // await leave(ws, roomNo)
            // setTimeout(function(){ws.close(1000, username);}, 500);
            ws.close(1000, username);
        }
    }

    let leave = function(ws, roomNo){
        return new Promise((resolve, reject) => {
            if(ws !== undefined){
                var str = username + "님이 방을 나가셨습니다.";
                send(makeChat("LEAVE", roomNo, username, str));
            }

            // 작업 완료 후 resolve 호출
            resolve();
        });
    }

    window.addEventListener('beforeunload', async function (e) {
        await closeRoom();
        // 페이지를 떠날 때 실행할 함수
        // 예: 서버에 로그아웃 요청을 보내거나 다른 작업 수행
        // 함수가 비동기 작업을 수행해야 한다면, Promise나 async/await을 사용할 수 있습니다.
    });
</script>
</html>