@charset "UTF-8";

.contenter {
    margin-top: 1rem;
    min-height: 80vh;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

input[type='date']::before {
    content: attr(data-placeholder);
    width: 100%;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
    display: none;
}